body {
	padding: 5em 5ch;
	font-family: sans;
	max-width: 600pt;
	margin: auto;
}

pre, code {
	background: #eee;
	border: solid 1px #ddd;
}

pre {
	padding: 1em 2ch;
}

blockquote {
	padding-left: 1.4ch;
	margin-left: 1ch;
	border-left: solid 1px grey;
}
