body {
	padding: 5em 5ch;
	font-family: sans;
	max-width: 550pt;
	margin: auto;
	line-height: 1.4em;
}

a {
	text-decoration: none;
}

h1 {
	line-height: 3em;
}

h2,h3,h4,h5,h6 {
	line-height: 2em;
}

pre, code {
	background: #f6f6f6;
}

pre {
	padding: 1em 2ch;
	line-height: 1.1em;
	overflow: auto;
}

blockquote {
	padding-left: 1.4ch;
	margin-left: 1ch;
	border-left: solid 1px grey;
}

img {
	max-width: 100%;
}
